<header class="header">
  <h1 class="title--page">{{title}}</h1>
  <nav>
    <a class="nav__link" href="/">weather</a>
    <a class="nav__link" href="/about">about</a>
    <a class="nav__link" href="/help">help</a>
  </nav>
</header>